{{!
    This file is part of Moodle - http://moodle.org/
    
    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with Moodle. If not, see
    <http: //www.gnu.org/licenses />.
    }}
    {{!
    @template theme_boost/drawers
    
    Boost drawer template.
    
    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * courseindexopen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.
    
    Example context (json):
    {
    "sitename": "Moodle",
    "output": {
    "doctype": "
    <!DOCTYPE html>",
    "page_title": "Test page",
    "favicon": "favicon.ico",
    "main_content": "<h1>Headings make html validators happier</h1>"
    },
    "bodyattributes":"",
    "sidepreblocks": "<h2>Blocks html goes here</h2>",
    "hasblocks":true,
    "courseindexopen": true,
    "navdraweropen": false,
    "blockdraweropen": true,
    "regionmainsettingsmenu": "",
    "hasregionmainsettingsmenu": false,
    "addblockbutton": ""
    }
    }}
    {{> theme_boost/head }}
    
    <body {{{ bodyattributes }}}>
        {{> core/local/toast/wrapper}}
        <div id="page-wrapper" class="d-print-block">
            {{{ output.standard_top_of_body_html }}}
    
            {{> theme_boost/navbar }}
            {{#courseindex}}
            {{< theme_boost/drawer }} {{$id}}theme_boost-drawers-courseindex{{/id}} {{$drawerclasses}}drawer drawer-left
                {{#courseindexopen}}show{{/courseindexopen}}{{/drawerclasses}} {{$drawercontent}} {{{courseindex}}}
                {{/drawercontent}} {{$drawerpreferencename}}drawer-open-index{{/drawerpreferencename}}
                {{$drawerstate}}show-drawer-left{{/drawerstate}} {{$tooltipplacement}}right{{/tooltipplacement}}
                {{$closebuttontext}}{{#str}}closecourseindex, core{{/str}}{{/closebuttontext}} {{/ theme_boost/drawer}}
                {{/courseindex}} {{#hasblocks}} {{< theme_boost/drawer }} {{$id}}theme_boost-drawers-blocks{{/id}}
                {{$drawerclasses}}drawer drawer-right{{#blockdraweropen}} show{{/blockdraweropen}}{{/drawerclasses}}
                {{$drawercontent}} <section class="d-print-none" aria-label="{{#str}}blocks{{/str}}">
                {{{ addblockbutton }}}
                {{{ sidepreblocks }}}
                </section>
                {{/drawercontent}}
                {{$drawerpreferencename}}drawer-open-block{{/drawerpreferencename}}
                {{$forceopen}}{{#forceblockdraweropen}}1{{/forceblockdraweropen}}{{/forceopen}}
                {{$drawerstate}}show-drawer-right{{/drawerstate}}
                {{$tooltipplacement}}left{{/tooltipplacement}}
                {{$drawercloseonresize}}1{{/drawercloseonresize}}
                {{$closebuttontext}}{{#str}}closeblockdrawer, core{{/str}}{{/closebuttontext}}
                {{/ theme_boost/drawer}}
                {{/hasblocks}}
                <div id="page" data-region="mainpage" data-usertour="scroller"
                    class="drawers {{#courseindexopen}}show-drawer-left{{/courseindexopen}} {{#blockdraweropen}}show-drawer-right{{/blockdraweropen}} drag-container">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        {{! <a class="navbar-brand" href="#">Navbar</a> }}
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
    
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            {{! <ul class="navbar-nav mr-auto ml-6">
                                <li class="nav-item active ml-6">
                                    <a class="nav-link" href="#">Menu 1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Menu 2</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Menu 3</a>
                                </li>
                            </ul> }}
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item">
                                    <span class="nav-link disabled">Select course language:<span />
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                        {{{contentlanguage.lang}}}
                                    </a>
                                    <div class="dropdown-menu content-language">
                                        {{#contentlanguages}}
                                        <a class="dropdown-item {{#active}}active{{/active}}" href="#"
                                            data-lang="{{name}}">{{lang}}</a>
                                        {{/contentlanguages}}
                                    </div>
                                </li>
                                <li class="nav-item mr-4">
                                    <span class="nav-link">
                                        <a class="btn btn-link p-0" role="button" data-container="body"
                                            data-toggle="popover" data-trigger="click" data-placement="bottom"
                                            data-content="<div class=&quot;no-overflow&quot;><p>Highlight a word or paragraph for translations.</p><div class=&quot;d-flex flex-row-reverse&quot;><div class=&quot;btn btn-link font-weight-bold text-black&quot; >GOT IT</div></div></div>"
                                            data-html="true" tabindex="0" data-trigger="focus" data-original-title=""
                                            title="">
                                            <i class="icon fa fa-question-circle text-info fa-fw "
                                                title="Help with Overview" role="img" aria-label="Help with Overview"
                                                id="yui_3_17_2_1_1687210317552_52"></i>
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </nav>
                    <div id="topofscroll" class="main-inner">
                        <div class="drawer-toggles d-flex">
                            {{#courseindex}}
                            <div class="drawer-toggler drawer-left-toggle open-nav d-print-none">
                                <button class="btn icon-no-margin" data-toggler="drawers" data-action="toggle"
                                    data-target="theme_boost-drawers-courseindex" data-toggle="tooltip"
                                    data-placement="right" title="{{#str}}opendrawerindex, core{{/str}}">
                                    <span class="sr-only">{{#str}}opendrawerindex, core{{/str}}</span>
                                    {{#pix}} t/index_drawer, moodle {{/pix}}
                                </button>
                            </div>
                            {{/courseindex}}
                            {{#hasblocks}}
                            <div class="drawer-toggler drawer-right-toggle ml-auto d-print-none">
                                <button class="btn icon-no-margin" data-toggler="drawers" data-action="toggle"
                                    data-target="theme_boost-drawers-blocks" data-toggle="tooltip" data-placement="right"
                                    title="{{#str}}opendrawerblocks, core{{/str}}">
                                    <span class="sr-only">{{#str}}opendrawerblocks, core{{/str}}</span>
                                    <span class="dir-rtl-hide">{{#pix}}t/blocks_drawer, core{{/pix}}</span>
                                    <span class="dir-ltr-hide">{{#pix}}t/blocks_drawer_rtl, core{{/pix}}</span>
                                </button>
                            </div>
                            {{/hasblocks}}
                        </div>
                        {{{ output.full_header }}}
                        {{#secondarymoremenu}}
                        <div class="secondary-navigation d-print-none">
                            {{> core/moremenu}}
                        </div>
                        {{/secondarymoremenu}}
                        <div id="page-content" class="pb-3 d-print-block">
                            <div id="region-main-box">
                                {{#hasregionmainsettingsmenu}}
                                <div id="region-main-settings-menu" class="d-print-none">
                                    <div> {{{ regionmainsettingsmenu }}} </div>
                                </div>
                                {{/hasregionmainsettingsmenu}}
                                <section id="region-main" aria-label="{{#str}}content{{/str}}">
    
                                    {{#hasregionmainsettingsmenu}}
                                    <div class="region_main_settings_menu_proxy"></div>
                                    {{/hasregionmainsettingsmenu}}
                                    {{{ output.course_content_header }}}
                                    {{#headercontent}}
                                    {{> core/activity_header }}
                                    {{/headercontent}}
                                    {{#overflow}}
                                    <div class="container-fluid tertiary-navigation">
                                        <div class="navitem">
                                            {{> core/url_select}}
                                        </div>
                                    </div>
                                    {{/overflow}}
                                    {{{ output.main_content }}}
                                    {{{ output.activity_navigation }}}
                                    {{{ output.course_content_footer }}}
    
                                </section>
                            </div>
                        </div>
                    </div>
                    {{> theme_boost/footer }}
                </div>
                {{{ output.standard_after_main_region_html }}}
                <input type="hidden" id="url" value="{{{setlanguageurl}}}">
                <input type="hidden" id="widgeturl" value="{{{setwidgetlanguageurl}}}">
                <input type="hidden" id="systemlanguage" value="{{{systemlanguage.name}}}">
                <input type="hidden" id="contentlanguage" value="{{{contentlanguage.name}}}">
                <div class="custom-popup" id="custom-popup" style="min-height: 4rem; overflow-x:auto;overflow-y:hidden;">
                    <div style="display: flex; height: 3rem; border-bottom: 1px solid #E0E0E0;" id="collapsed-header">
                        <div style="flex: 3; align-self: center; margin-left: 10px;">
                            <span class="text-muted"><img src="{{languageicon}}" alt=""
                                    style="height: 18px; width: 18px; color: red;"> Translated: </span>
                            <div id="fromlanguage" class="dropdown" style="z-index: inherit; max-height:50px;" hidden>
                                <span style="color: red;" class="dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false">
                                    {{{contentlanguage.lang}}}
                                </span>
                                <div class="dropdown-menu" id="fromlanguagedropdown" aria-labelledby="dropdownMenu2"
                                    style="max-height:150px; overflow-x:hidden; overflow-y:scroll">
                                    {{#contentlanguages}}
                                    <a class="dropdown-item {{#active}}active{{/active}}" href="#"
                                        data-lang="{{name}}">{{lang}}</a>
                                    {{/contentlanguages}}
                                </div>
                            </div>
                            <div class="dropdown tolanguage" style="z-index: inherit;">
                                <span style="color: red;" class="dropdown-toggle" id="tolanguagedropdowntoggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{{widgetlanguage.lang}}}
                                </span>
                                <div class="dropdown-menu tolanguagedropdown" id="tolanguagedropdown"
                                    aria-labelledby="dropdownMenu2">
                                    {{#contentlanguages}}
                                    <a class="dropdown-item {{#active}}active{{/active}}" href="#"
                                        data-lang="{{name}}">{{lang}}</a>
                                    {{/contentlanguages}}
                                </div>
                            </div>
                        </div>
    
                        <div id="expand-button" style="align-self: center; margin-right: 10px; cursor:pointer;">
                            <img src="{{expandicon}}" alt="" style="height: 18px; width: 18px; color: red;">
                        </div>
                    </div>
                    <div style="display: flex; height: 3rem;" id="expanded-header" hidden>
                        <div id="minimize-button" style="flex: 3; align-self: center; margin-left: 20px; cursor:pointer;">
                            <img src="{{minimizeicon}}" alt="" style="height: 18px; width: 18px; color: red;">
                        </div>
    
                        <div id="close-button" style="align-self: center; margin-right: 10px; cursor:pointer;">
                            <i class="icon fa fa-close"></i>
                        </div>
                    </div>
                    <div id="expanded-section" style="margin: 20px; margin-top: 40px;" hidden>
                        <span style="color: red;">MT Rwanda</span>
    
                        <div class="mt-4">
                            <span class="text-muted" style="font-size: 12px; font-weight:bold;">From:</span>
                            <span style="font-weight: bold;">{{{contentlanguage.lang}}}</span>
                        </div>
                        <div id="selected-text" class="mt-3 p-3"
                            style="border: 1.5px solid #c9c7c7e5; min-height: 5rem; border-radius:4px;"></div>
                        <div class="mt-4">
                            <span class="text-muted" style="font-size: 12px; font-weight:bold;">To: </span>
                            <div class="dropdown tolanguage" style="z-index: inherit;">
                                <span style="color: red;" class="dropdown-toggle" id="extendedtolanguagedropdowntoggle"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{{widgetlanguage.lang}}}
                                </span>
                                <div class="dropdown-menu tolanguagedropdown" aria-labelledby="dropdownMenu2"
                                    id="expandedtolanguagedropdown">
                                    {{#contentlanguages}}
                                    <a class="dropdown-item {{#active}}active{{/active}}" href="#"
                                        data-lang="{{name}}">{{lang}}</a>
                                    {{/contentlanguages}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="translation-container"
                        style="margin: 20px; margin-top: 20px; min-height: 5rem; border-radius:4px;">
                        <p style="flex:1; align-self: center;" id="current-translation">Translating...</i></p>
                    </div>
                    <div id="expanded-footer" style="display: flex; text-align: right; font-size:10px;"
                        class="mb-3 mt-3 mr-3 text-muted font-weight-bold" hidden>
                        <span style="align-self:self-end; flex:1; ">Powered by MT Rwanda</span>
                    </div>
                </div>
        </div>
        <style>
            #page.drawers {
                padding-left: 0rem;
                padding-right: 0rem;
            }
    
            @media (min-width: 992px) {
                #page.drawers.show-drawer-left {
                    margin-left: 269px;
                    margin-right: 0;
                    padding-left: 1rem;
                }
            }
    
            .nav-item.dropdown.mr-4::after {
                display: none;
            }
    
            /* The popup form - hidden by default */
            #custom-popup {
                display: none;
                position: absolute;
                border: 1px solid #E0E0E0;
                z-index: 30;
                box-shadow: 3px .25px 0.4em #dbdbdb, -2px 0px 0.4em #e2e2e2;
                border-radius: 10px;
                background-color: #ffffff;
                height: auto;
                width: 20rem;
                transition: height 4s, left 4s, right 4s;
            }
    
            .custom-popup::before {
                content: "";
                width: 20px;
                height: 20px;
                transform: rotate(-45deg);
                background: #fff;
                position: absolute;
                border-top: 1px solid #dbdbdb;
                border-right: 1px solid #dbdbdb;
                z-index: -100;
                top: -10px;
                left: calc(10% - 10px);
            }
    
            .fromlanguage,
            .tolanguage {
                display: inline;
            }
    
            #custom-popup.expanded #collapsed-header {
                display: none;
            }
        </style>
        <script>
            function setDropdownMenuAsActive(ev) {
                var target = ev.target;
                var dropdownMenu = target.parentNode;
                var dropdown = dropdownMenu.parentNode;
                var dropdownTitle = dropdown.children[0];
    
                dropdownTitle.innerText = target.innerText;
    
                dropdownMenu.children.forEach(menu => {
                    if (menu.classList.contains('active')) {
                        menu.classList.remove('active')
                    }
                });
    
                target.classList.add('active');
    
                if (dropdownMenu.id == 'tolanguagedropdown') {
                    var altMenu = document.getElementById('expandedtolanguagedropdown');
                    var altTitle = document.getElementById('extendedtolanguagedropdowntoggle');
                    altTitle.innerText = target.innerText;
    
                    altMenu.children.forEach(menu => {
                        if (menu.classList.contains('active')) {
                            menu.classList.remove('active')
                        } else if (menu.getAttribute('data-lang') == target.getAttribute('data-lang')) {
                            menu.classList.add('active');
                        }
                    });
                } else if (dropdownMenu.id == 'expandedtolanguagedropdown') {
                    var altMenu = document.getElementById('tolanguagedropdown');
                    var altTitle = document.getElementById('tolanguagedropdowntoggle');
                    altTitle.innerText = target.innerText;
    
                    altMenu.children.forEach(menu => {
                        if (menu.classList.contains('active')) {
                            menu.classList.remove('active')
                        } else if (menu.getAttribute('data-lang') == target.getAttribute('data-lang')) {
                            menu.classList.add('active');
                        }
                    });
                }
    
                console.log({ ev, target: ev.target, parent: ev.target.parentNode, title: dropdown.children[0] })
    
                target.classList.add('active');
            }
    
            function getActiveDropdownMenu(dropdownMenu) {
                for (const dropdownMenuItem of dropdownMenu.children) {
                    if (dropdownMenuItem.classList.contains('active')) {
                        return dropdownMenuItem;
                    }
                }
            }
    
            var contentLanguageEl = document.getElementsByClassName('content-language');
    
            contentLanguageEl[0].onclick = function (ev) {
                setDropdownMenuAsActive(ev);
                location.assign(document.getElementById('url').value + '?lang=' + ev.target.getAttribute('data-lang') + "&redirectto=" + location.href);
            }
    
            document.getElementById('fromlanguagedropdown').onclick = function (ev) {
                setDropdownMenuAsActive(ev);
            }
    
            document.getElementById('tolanguagedropdown').onclick = function (ev) {
                setDropdownMenuAsActive(ev);
                setWidgetLanguage(ev.srcElement.getAttribute('data-lang'));
                ev.srcElement.parentElement.hidden = true;
                translate('initial', getActiveDropdownMenu(ev.srcElement.parentElement).getAttribute('data-lang'));
            }
    
            document.getElementById('expandedtolanguagedropdown').onclick = function (ev) {
                setDropdownMenuAsActive(ev);
                setWidgetLanguage(ev.srcElement.getAttribute('data-lang'));
                ev.srcElement.parentElement.hidden = true;
                getActiveDropdownMenu(ev.srcElement.parentElement);
                translate('expanded', getActiveDropdownMenu(ev.srcElement.parentElement).getAttribute('data-lang'));
            }
    
            function getSelectionText() {
                var text = "";
                if (window.getSelection) {
                    text = window.getSelection().toString();
                } else if (document.selection && document.selection.type != "Control") {
                    text = document.selection.createRange().text;
                }
                return text;
            }
    
            var customPopup = document.getElementById("custom-popup");
            var currentTranslation = document.getElementById('current-translation');
    
            var selectedText = "";
            var selectedTextPosition = { x: 0, y: 0 };
            document.getElementById('topofscroll').onmouseup = function (ev) {
                if (getSelectionText().length > 0) {
                    selectedTextPosition.x = ev.pageX;
                    selectedTextPosition.y = ev.pageY;
    
                    selectedText = getSelectionText();
                    document.getElementById('selected-text').innerText = selectedText;
    
                    customPopup.style.display = "inline";
                    if (!customPopup.classList.contains('expanded')) {
                        customPopup.style.left = selectedTextPosition.x - 20 + "px";
                        customPopup.style.top = Number(selectedTextPosition.y) + 20 + "px";
                    }
    
                    translate('initial', getActiveDropdownMenu(document.getElementById('tolanguagedropdown')).getAttribute('data-lang'));
    
                    document.getElementById('close-button').onclick = function (ev) {
                        customPopup.style.display = "none";
                        customPopup.classList.remove('expanded');
                        document.getElementById('collapsed-header').hidden = false;
                        document.getElementById('expanded-header').hidden = true;
                        document.getElementById('expanded-section').hidden = true;
                        document.getElementById('expanded-footer').hidden = true;
                        document.getElementById('translation-container').style.border = 'none';
                        currentTranslation.classList.remove('p-3');
                        document.getElementById('translation-container').style.backgroundColor = 'white';
                    }
    
                    document.getElementById('expand-button').onclick = function (ev) {
                        customPopup.classList.add('expanded');
                        document.getElementById('collapsed-header').hidden = true;
                        document.getElementById('expanded-header').hidden = false;
                        document.getElementById('expanded-section').hidden = false;
                        document.getElementById('expanded-footer').hidden = false;
                        document.getElementById('translation-container').style.border = '1.5px solid #c9c7c7e5';
                        document.getElementById('translation-container').style.backgroundColor = '#c9c7c7e5';
                        customPopup.style.removeProperty('left');
                        customPopup.style.right = 20 + "px";
                        customPopup.style.top = 100 + "px";
    
                        currentTranslation.classList.add('p-3');
                    }
    
                    document.getElementById('minimize-button').onclick = function (ev) {
                        customPopup.classList.remove('expanded');
                        document.getElementById('collapsed-header').hidden = false;
                        document.getElementById('expanded-header').hidden = true;
                        document.getElementById('expanded-section').hidden = true;
                        document.getElementById('expanded-footer').hidden = true;
                        document.getElementById('translation-container').style.removeProperty('border');
                        document.getElementById('translation-container').style.backgroundColor = 'white';
                        customPopup.style.removeProperty('right');
                        customPopup.style.left = selectedTextPosition.x - 20 + "px";
                        customPopup.style.top = Number(selectedTextPosition.y) + 20 + "px";
    
                        currentTranslation.classList.remove('p-3');
                    }
    
                    customPopup.onclick = function (ev) {
                        ev.stopPropagation()
                    }
    
                    document.body.onclick = function (ev) {
                        // alert('1');
                        // customPopup.style.display = "none";
                    }
                }
            }
    
            document.getElementById('fromlanguage').onclick = function (ev) {
                $('#fromlanguage .dropdown-toggle').dropdown('toggle')
            }
    
            document.getElementById('extendedtolanguagedropdowntoggle').onclick = function (ev) {
                document.getElementById('expandedtolanguagedropdown').hidden = false;
                $(this).dropdown('toggle')
            }
    
            document.getElementById('tolanguagedropdowntoggle').onclick = function (ev) {
                document.getElementById('tolanguagedropdown').hidden = false;
                $(this).dropdown('toggle')
            }
    
            function translate(state, targetLanguage) {
                console.log({ targetLanguage });
                currentTranslation.innerText = "Translating...";
    
                let post = JSON.stringify({
                    src: document.getElementById('contentlanguage').value,
                    tgt: targetLanguage,
                    alt: "",
                    use_multi: "multi",
                    text: selectedText
                })
    
                const url = "https://nmt-api.umuganda.digital/api/v1/translate/"
    
                let xhr = new XMLHttpRequest()
    
                xhr.open('POST', url, true)
                xhr.setRequestHeader('Content-type', 'application/json; charset=UTF-8')
                xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest")
                xhr.send(post);
                xhr.onload = function () {
                    if (xhr.response) {
                        var responseData = JSON.parse(xhr.response);
                        if (responseData.translation) {
                            currentTranslation.innerText = responseData.translation;
                        } else if (responseData.detail) {
                            currentTranslation.innerText = responseData.detail;
                        }
                    }
                }
            }
    
            function setWidgetLanguage(widgetLanguage) {
                // location.assign(document.getElementById('widgeturl').value + "?lang=" + widgetLanguage);
                let xhr = new XMLHttpRequest()
                xhr.open('GET', document.getElementById('widgeturl').value + "?lang=" + widgetLanguage, true)
                xhr.send();
            }
        </script>
    </body>
    
    </html>
    {{#js}}
    M.util.js_pending('theme_boost/loader');
    require(['theme_boost/loader', 'theme_boost/drawer'], function(Loader, Drawer) {
    Drawer.init();
    M.util.js_complete('theme_boost/loader');
    });
    {{/js}}